body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-newtask {
    max-width: 375px;
    padding: 15px;
    margin: 0 auto;
}
.form-newtask .form-newtask-heading {
    margin-bottom: 10px;
}
.form-newtask .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-newtask .form-control:focus {
    z-index: 2;
}
.form-newtask input[type="text"] {
    margin-bottom: 10px;
}
.description {
    line-height: 25px;
}
#priority {
    width: 35px;
    float: right;
    margin-right: 270px;
}
#casestep {
    margin-top: 10px;
    height: 240px;
}

button {
    margin-top: 10px;
}
.error {
    color: #D8000C;
}