.btn-block {
    margin-top: 10px;
}

.fileupload {
    margin: auto;
    margin-top: 75px;
    width: 345px;
}
.list-group {
    width: 345px;
    margin: auto;
    margin-top: 25px;
}
.error {
    color: #D8000C;
}