<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.AccountMapper">

    <cache />

    <select id="getAccountByUsername" parameterType="string" resultType="Account">
        SELECT
        signon.username,
        signon.password,
        account.email,
        account.role
        FROM account, signon
        WHERE account.userid = #{username}
        AND signon.username = account.userid
    </select>

    <select id="getAllKFAccount" resultType="Account">
        SELECT
        signon.username,
        signon.password,
        account.email,
        account.role
        FROM account, signon
        WHERE account.role = "kf"
        AND signon.username = account.userid
    </select>

    <select id="getAccountByUsernameAndPassword" parameterType="Account" resultType="Account">
        SELECT
        signon.username,
        signon.password,
        account.email,
        account.role
        FROM account, signon
        WHERE account.userid = #{param1}
        AND signon.password = #{param2}
        AND signon.username = account.userid
    </select>

    <update id="updateAccount" parameterType="Account">
        UPDATE account SET
        email = #{email},
        role = #{role}
        WHERE userid = #{username}
    </update>

    <insert id="insertAccount" parameterType="Account">
        INSERT INTO account
        (userid, email, role)
        VALUES
        (#{username}, #{email}, #{role})
    </insert>

    <update id="updateSignon" parameterType="Account">
        UPDATE signon SET password = #{password}
        WHERE username = #{username}
    </update>

    <insert id="insertSignon" parameterType="Account">
        INSERT INTO signon (password,username)
        VALUES (#{password}, #{username})
    </insert>

</mapper>

