<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.AccountMapper">

    <cache />

    <select id="getAccountByUsername" parameterType="string" resultType="Account">
        SELECT
        SIGNON.USERNAME,
        SIGNON.PASSWORD,
        ACCOUNT.EMAIL,
        ACCOUNT.ROLE
        FROM ACCOUNT, SIGNON
        WHERE ACCOUNT.USERID = #{username}
        AND SIGNON.USERNAME = ACCOUNT.USERID
    </select>

    <select id="getAccountByUsernameAndPassword" parameterType="Account" resultType="Account">
        SELECT
        SIGNON.USERNAME,
        SIGNON.PASSWORD,
        ACCOUNT.EMAIL,
        ACCOUNT.ROLE
        FROM ACCOUNT, SIGNON
        WHERE ACCOUNT.USERID = #{param1}
        AND SIGNON.PASSWORD = #{param2}
        AND SIGNON.USERNAME = ACCOUNT.USERID
    </select>

    <update id="updateAccount" parameterType="Account">
        UPDATE ACCOUNT SET
        EMAIL = #{email},
        ROLE = #{role}
        WHERE USERID = #{username}
    </update>

    <insert id="insertAccount" parameterType="Account">
        INSERT INTO ACCOUNT
        (USERID, EMAIL, ROLE)
        VALUES
        (#{username}, #{email}, #{role})
    </insert>

    <update id="updateSignon" parameterType="Account">
        UPDATE SIGNON SET PASSWORD = #{password}
        WHERE USERNAME = #{username}
    </update>

    <insert id="insertSignon" parameterType="Account">
        INSERT INTO SIGNON (PASSWORD,USERNAME)
        VALUES (#{password}, #{username})
    </insert>

</mapper>

