<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.TaskMapper">

    <cache />

    <select id="getAllTask" resultType="Task">
        SELECT
        *
        FROM task
        WHERE not deleted=1
        ORDER BY createtime DESC
    </select>

    <select id="getAllTaskByUsername" parameterType="map" resultType="Task">
        SELECT
        *
        FROM task
        WHERE not deleted=1
        AND (owner="${username}" OR creator="${username}")
        ORDER BY createtime DESC
    </select>

    <select id="getAllDoneTask" resultType="Task">
        SELECT
        *
        FROM task
        WHERE taskdone = 1
        AND deleted = 0
        ORDER BY createtime
    </select>

    <select id="getAllDoneTaskByUsername" parameterType="map" resultType="Task">
        SELECT
        *
        FROM task
        WHERE taskdone = 1
        AND deleted = 0
        AND owner="${username}"
        ORDER BY createtime
    </select>

    <select id="getTaskByTaskid" parameterType="int" resultType="Task">
        SELECT
        *
        FROM task
        WHERE task.taskid= ${_parameter}
    </select>

    <select id="getUnpreparedTasks" resultType="Task">
        SELECT
        *
        FROM task
        WHERE task.prepared=0
        AND not deleted=1
    </select>

    <select id="getTaskscore" parameterType="map" resultType="Integer">
        SELECT
        taskscore
        FROM task
        WHERE taskid = #{taskid}
    </select>

    <insert id="insertTask" parameterType="Task">
        INSERT INTO task
        (taskname, owner, creator, modifier)
        VALUES
        (#{taskname}, #{owner}, #{creator}, #{modifier})
    </insert>


    <update id="updateTask" parameterType="Task">
        UPDATE task SET
        taskname = "${taskname}", owner = "${owner}", modifier = "${modifier}", updatetime = "${updatetime}"
        WHERE taskid = #{taskid}
    </update>

    <update id="updateTaskPrepared" parameterType="int">
        UPDATE task SET
        prepared = 1
        WHERE taskid = #{_parameter}
    </update>

    <update id="updateTaskscore" parameterType="map">
        UPDATE task SET
        taskdone = 1, taskscore = #{taskscore}
        WHERE taskid = #{taskid}
    </update>

    <update id="delTask" parameterType="map">
        UPDATE task SET
        deleted = 1, modifier = "${modifier}", updatetime = "${updatetime}"
        WHERE taskid = #{taskid}
    </update>

    <!--<delete id="delTask" parameterType="int">-->
        <!--DELETE FROM task-->
        <!--WHERE taskid = #{_parameter}-->
    <!--</delete>-->

    <insert id="insertRank" parameterType="Rank">
        INSERT INTO rank
        (taskname, owner, score, reason)
        VALUES
        (#{taskname}, #{owner}, #{score}, #{reason})
    </insert>

    <select id="getTotalScores" resultType="hashmap">
        SELECT
        owner, SUM(score) as totalscores, COUNT(owner) as exetimes
        FROM rank
        GROUP BY owner
        ORDER BY totalscores DESC, exetimes
    </select>

    <!--<select id="getExeTimes" resultType="hashmap">-->
        <!--SELECT-->
        <!--owner, COUNT(owner) as exetimes-->
        <!--FROM rank-->
        <!--GROUP BY owner-->
        <!--ORDER BY exetimes DESC-->
    <!--</select>-->

</mapper>
