<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.TaskcaseMapper">

    <cache />


    <select id="getAllTaskcase" resultType="Taskcase">
        SELECT
        *
        FROM taskcase
    </select>

    <select id="getTaskCount" parameterType="map" resultType="Integer">
        SELECT
        COUNT(*)
        FROM taskcase
        WHERE taskid = #{taskid}
    </select>

    <select id="getTaskDoneCount" parameterType="map" resultType="Integer">
        SELECT
        COUNT(*)
        FROM taskcase
        WHERE taskid = #{taskid}
        AND evaluated = 1
    </select>

    <select id="getTaskGoodResultCount" parameterType="map" resultType="Integer">
        SELECT
        COUNT(*)
        FROM taskcase
        WHERE taskid = #{taskid}
        AND evaluated = 1
        AND casescore = 1
    </select>


    <insert id="insertCaseids" parameterType="java.util.List">
        INSERT INTO taskcase
        (caseid)
        VALUES
        <foreach collection="list" item="caseid" index="index" open="(" separator="),("  close=")">
            #{caseid}
        </foreach>
    </insert>


    <update id="updateTaskid" parameterType="Taskcases">
        UPDATE taskcase
        SET taskid = #{taskid}
        WHERE taskid = 0
    </update>


    <update id="updateCasedone" parameterType="map">
        UPDATE taskcase
        SET casedone = 1
        WHERE taskid = #{taskid}
        AND caseid = #{caseid}
    </update>

    <update id="updateGoodCasescore" parameterType="map">
        UPDATE taskcase
        SET evaluated = 1, casescore = 1
        WHERE taskid = #{taskid}
        AND caseid = #{caseid}
    </update>

    <update id="updateBadCasescore" parameterType="map">
        UPDATE taskcase
        SET evaluated = 1
        WHERE taskid = #{taskid}
        AND caseid = #{caseid}
    </update>

    <update id="updateBugurl" parameterType="map">
        UPDATE taskcase
        SET bugurl = #{bugurl}
        WHERE taskid = #{taskid}
        AND caseid = #{caseid}
    </update>


</mapper>




