<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.TaskMapper">

    <cache />

    <select id="getAllTask" resultType="Task">
        SELECT
        *
        FROM TASK
    </select>

    <select id="getTaskByTaskid" parameterType="int" resultType="Task">
        SELECT
        *
        FROM TASK
        WHERE TASK.taskid= ${_parameter}
    </select>

    <select id="getUnpreparedTasks" resultType="Task">
        SELECT
        *
        FROM TASK
        WHERE TASK.prepared=0
    </select>


    <insert id="insertTask" parameterType="Task">
        INSERT INTO TASK
        (taskname, owner, creator, modifier)
        VALUES
        (#{taskname}, #{owner}, #{creator}, #{modifier})
    </insert>


    <update id="updateTask" parameterType="Task">
        UPDATE TASK SET
        taskname = "${taskname}", owner = "${owner}", modifier = "${modifier}", updatetime = "${updatetime}"
        WHERE taskid = #{taskid}
    </update>

    <update id="updateTaskPrepared" parameterType="int">
        UPDATE TASK SET
        prepared = 1
        WHERE taskid = #{_parameter}
    </update>

</mapper>




