<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youzan.pfcase.mapper.TaskcaseMapper">

    <cache />


    <insert id="insertCaseids" parameterType="java.util.List">
        INSERT INTO taskcase
        (caseid)
        VALUES
        <foreach collection="list" item="caseid" index="index" open="(" separator="),("  close=")">
            #{caseid}
        </foreach>
    </insert>


</mapper>




